.world-ball {
  position: relative;
  .earth-gif {
    position: absolute;
    height: 600px;
    width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .ball {
    height: 100%;
    width: 100%;
    background-image: url('../../../../../../assets/img/base/cup.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}
