.bg1 {
  height: 100%;
  width: 100%;
  background-image: url('../../assets/img/base/bg1.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
  .bg1-title-cn {
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    left: 47px;
    top: 15px;
  }
  .bg1-title-en {
    font-size: 16px;
    font-weight: 400;
    left: 47px;
    top: 45px;
    position: absolute;
  }
}
