.screen-view {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image: url('../../assets/img/base/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #2abeff;
  .global {
    height: 100%;
    width: 100%;
    .global-content {
      padding: 40px 24px 24px 30px;
      .global-gap {
        width: 23px;
      }
      .global-gap-2 {
        height: 21px;
      }
    }
  }
}
